<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="body-style">
    <%- include('header', { loggedIn: loggedIn }) %>

    <div class="container mt-5 p-4 bg-white shadow-sm rounded">
        <h2 class="font-weight-bold"><%= blog.title %></h2>
        <img src="<%= blog.image %>" class="img-fluid mt-3 mb-4" alt="Blog Image">
        <p class="text-muted">Posted on: <%= new Date(blog.date).toDateString() %></p>
        
        <div>
            <h3 class="font-weight-bold">Blog</h3>
            <p><%= blog.content %></p>
        </div>
        
        <div>
            <h3 class="font-weight-bold">Post Creator</h3>
            <p><%= blog.overview %></p>
        </div>

        <div  id="blogDetailbtns"  class="text-left mt-4">
            <button  id="backBlogBtn">Back to Blogs</button>
            <% if (loggedIn) { %>
                <button  id="deleteBlogBtn">Delete Blog</button>
            <% } %>
        </div>
    </div>

    <%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#backBlogBtn').click(function() {
                window.location.href = '/blogs';
            });

            $('#deleteBlogBtn').click(function() {
                if(confirm('Are you sure you want to delete this blog?')) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/delete-blog/<%= blog.id %>',
                        success: function(response) {
                            alert(response.message);
                            window.location.href = '/blogs';
                        },
                        error: function(error) {
                            console.error('Error deleting blog:', error);
                            alert('Error deleting blog. Please try again later.');
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
